<div class="back">
  <div class="wrapper">
    <div class="containers">
      <div>
        <img class="logo" src="../../../assets/Café-logo.webp" alt="">
      </div>
      <div>
        <img src="../../../assets/image 6.png" alt="">
      </div>
      <div>
        <p class="text1">SEJA BEM VINDO AO SABOR DE CAFÉ</p>
      </div>
      <div>
        <p class="text2">Um bom café começa pelo preparo!</p>
      </div>
    </div>

    <div class="container-login">
      <div class="title-login">
        <h1>Login</h1>
      </div>
      <form>
        <div>
          <div class="label-text">
            <label>E-mail</label>
          </div>
          <div class="input-text">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="exemplo@email.com">
          </div>

          <div class="label-text">
            <label>Senha</label>
          </div>
          <div class="input-text">
            <i class="fa fa-solid fa-lock icon"></i>
            <input type="password" placeholder="Digite a sua senha">
          </div>
        </div>
        <div class="forgot">
          <a href="#">Esqueceu a senha?</a>
        </div>
        <div class="button">
          <a href="" type="submit">Login</a>
        </div>
      </form>
      <div>
        <p>Ainda não possui uma conta?
          <a href="">Crie agora</a>
        </p>
      </div>
      <div>
        <p>ou</p>
      </div>
      <div>
        <p>Entre com as suas redes sociais.</p>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">
              <i class="fab fa-facebook-f icon"></i> </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter icon"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
